*,
* ::before,
* ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: red;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.weatherContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
